body {
	background: rgb(32, 27, 54);
	background: -moz-linear-gradient(119deg, rgba(32, 27, 54, 1) 0%, rgba(44, 21, 53, 1) 50%, rgba(53, 18, 53, 1) 100%);
	background: -webkit-linear-gradient(119deg, rgba(32, 27, 54, 1) 0%, rgba(44, 21, 53, 1) 50%, rgba(53, 18, 53, 1) 100%);
	background: linear-gradient(119deg, rgba(32, 27, 54, 1) 0%, rgba(44, 21, 53, 1) 50%, rgba(53, 18, 53, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#201b36", endColorstr="#351235", GradientType=1);
	font-family: "Anonymous Pro", monospace;
	font-weight: 400;
	font-style: normal;
}

.header {
	background: none;
	padding: 20px;
}

.div1 h1 {
	color: #fff;
	text-decoration: none;
}

.logoName {
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 20px;
}

.logoName .a {
	text-decoration: none;
	color: #fff;
}
.div2{
	padding: 20px;
	color: #fff;
	font-size: 60px;
}